li#menu-posts,
li#menu-posts-personnel,
li#menu-posts-portfolio,
li#menu-posts-gdlr_core_header,
li#toplevel_page_envato-market,
li#wp-admin-bar-wp-logo,
div#wpfooter {
  display: none;
}
#wpadminbar,
#adminmenu,
#adminmenu .wp-submenu,
#adminmenuback,
#adminmenuwrap {
  color: #ccc;
  background: #309e52;
}
